@charset "utf-8";
/*-----mainbody content-----*/
body{background: transparent;}
a, button{cursor:pointer; /*text-decoration: none;*/}
a{text-decoration: none;}
table{border-collapse: collapse;/*table-layout:fixed; */}
.main{min-width:768px;padding:15px;}
.board{width: 100%; background: #fff;border-radius: 2px;padding-bottom: 30px;}
.index{padding: 20px;font-size: 14px;}
.tap_menu{padding: 0 20px 0 20px;}
.tap_btn{padding-left: 20px;}
.tap_btn li{width: 75px; height: 26px;font-size: 12px;  line-height: 27px; float: left;text-align: center;  border:1px solid #6BA8E1;border-radius: 2px;margin-right: 4px;background: #6BA8E1;color: #fff;margin-bottom: 10px;}
.tap_btn li.selected_btn{background: #fff;color: #6BA8E1;border-bottom: 1px solid #fff; position: relative;}
.tap_line{    width: 100%;height: 27px;border-bottom: 1px solid #6BA8E1;}
.table_selection{margin: 30px 0 30px 0;}
.table_selection table {width: 100%;margin:20px 0 20px 0;}
.table_selection th,td{min-width: 27px;}
.table_selection th{color: #676767; font-size: 14px;padding-right: 10px;text-align: right;min-width: 84px;line-height: 45px;}
div.submit_btn{text-align: center;}
.submit_btn button{width: 100px; height: 27px; border:1px solid #1687ed;border-radius: 4px;margin: 0 10px 0 10px;}
button.search{background:#1c8ff8;color: #fff;}
button.clean{background: none;color:#375d81; }
.table_content{padding: 0 20px 20px 20px; }
.table_content table{width: 100%;border:1px solid #aaa;text-align: center;}
.table_content tr, .table_content td, .table_content th{border:1px solid #aaa;padding: 6px; font-size: 12px;line-height: 30px;vertical-align: middle;}
.table_content th{min-width: 80px; background: #E6E6E6;}
.table_content th.min {min-width: 32px;}
button.pageup, button.pagedown, button.export{width: 70px; height: 27px; border:1px solid #1687ed;border-radius: 4px;background: none;color:#375d81; }
.pagenum a{padding: 5px 10px;color: #404040; }
a.pagenow{background:#1180e7;color: #fff;}
div.pagebtn{width: 100%;margin-top: 24px;}
span.pageinfo{float: right;}
.datepicker{width: 100px;}
i{display: inline-block; width: 20px; height: 18px; background: url(../images/sprite_search.png) -54px -101px;vertical-align: middle;}
input[type='text']{height: 24px;}
select{height: 30px;}
a.fancybox{display: block; width: 100%;height: 100%; background: url(../images/circle_font.png) no-repeat center center; color: #fff;}
.product_name{width: 218px;}
.table_link{cursor: pointer;}
.table_link:hover{background: #DDEDF9;}
td.td1{width: 5%;}
td.td2{width:30%;}